@charset "UTF-8";

@font-face {
    font-family: "Nasalization";
    src: url("fonte/Nasalization.otf") format("opentype");
    font-weight: normal;
    
}

* {
    margin: 0px;
}

body {
    font-family: "Nasalization";
}

header {
    background: black url("image/nasa.webp") center center / 500px no-repeat  ;
    
    height: 400px;
}

header > h1 {
    color: white;
    font-size: 4rem;
    text-align: center;

}
.quem-somos {
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 32px;
}

.projetos {
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 32px;
}

h1:hover {
    color: red;
}