@charset "UTF-8";

/*
    Medidas Absolutas
    cm, mm, in, px, pt, pc
    
    Medidas Relativas
    em, ex, rem, vw, vh, %
 */



 /*
 Shorthand para todas essas configurações
 font-style: 
 font-variant:
 font-weight:
 font-size: (obrigatória)
 line-height:
 font-family: (obrigatória)
 */
body {
    font: italic 600 16px / 4 sans-serif;
}